.containerModalCatalog {
  padding-top: 20px;

  .categories {
    width: 25%;

    .category {
      transition: 0.2s;
      display: flex;
      width: 100%;
      align-items: center;
      gap: 10;
      margin-top: 10px;
      cursor: pointer;
      height: 40px;
      padding-left: 10px;
      border-radius: 5px;

      .iconCategory {
        width: 25px;
        height: 25px;
      }

      .textNamedCategory {
        font-size: 15px;
      }
    }

    .category:hover {
      transition: 0.2s;
      background-color: rgb(243, 243, 243);
    }
  }
}