@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.cardProductContainer {
  border: 1px solid rgb(212, 212, 212);
  width: 250px;
  height: 350px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 5px 10px rgb(233, 233, 233);
  cursor: pointer;

  .imageBlockProductCard {
    width: 100%;
    height: 150px;

    .image {
      width: 100%;
      height: 150px;
      padding: 10px;
    }
  }

  .infoBlock {
    width: 100%;
    padding: 20px;

    .status {
      background-color: rgb(184, 232, 208);
      width: 100px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;

      .textStatus {
        color: rgb(0, 43, 0);
        font-size: 15px;
        font-family: "Rubik", sans-serif;
      }
    }

    .named {
      margin-top: 10px;

      .textNamed {
        color: black;
        font-family: "Poppins", sans-serif;
      }
    }

    .description {
      margin-top: 10px;
      width: 95%;

      .textDescription {
        color: black;
        font-family: "Rubik", sans-serif;
        font-size: 12px;
      }
    }

    .lineCard {
      margin-top: 15px;
      border: none;
      background-color: rgb(231, 231, 231);
      height: 1px;
    }

    .infoAboutProduct {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .blockInfoAboutProduct {
        width: 30%;

        .headerInfoAboutProduct {
          color: rgb(163, 163, 163);
          font-family: "Rubik", sans-serif;
          font-size: 12px;
          font-weight: 300;
        }
        
        .valueInfoAboutProduct {
          color: rgb(0, 0, 0);
          font-family: "Rubik", sans-serif;
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
  }
}