@use '../../styles/_variables'

.navbarContainer
  margin: 0
  padding: 0
  width: 100%
  color: black
  display: flex
  flex-direction: column
  justify-content: space-between

  .navbarLinks
    padding: 10px
    display: flex
    align-items: center
    justify-content: space-between

    .logo
    
    .links
      gap: 25px
      display: flex

      .link
        cursor: pointer
        color: rgb(90, 90, 90)
        outline: none
        font-size: 18px
        font-weight: 400
        text-decoration: none
        font-family: var(--font-lato), system-ui, sans-serif

      .search
        .link
          cursor: pointer
          color: rgb(90, 90, 90)
          outline: none
          font-size: 18px
          font-weight: 400
          text-decoration: none
          font-family: var(--font-lato), system-ui, sans-serif

    .buttons
      display: flex

      .buttonLogin
        cursor: pointer
        font-size: 16px
        background: variables.$base-blue
        border-radius: 100px
        color: variables.$text-color
        padding: 10px 20px 10px 20px
        border: 1px solid variables.$base-blue
        font-family: var(--font-lato), system-ui, sans-serif
        width: 120px

        .linkLogin
          text-decoration: none
          outline: none
          color: white

  .searchInput
    width: 100%
    height: 20px
    display: flex
    align-items: center
    justify-content: center

    .inpSearch
      width: 100%
      max-width: 300px
      border: 1px solid variables.$base-grey
      padding-left: 10px
      font-family: var(--font-lato), system-ui, sans-serif
      height: 40px
      font-size: 18px
      color: variables.$text-color
      text-decoration: none
      outline: none




